// Imports -----------------------------------------------------------
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm"; // http://compass-style.org/reference/compass/typography/vertical_rhythm/
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/";

@import "susy"; // grid

// Grid variables
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$base-line-height: 24px;
$total-columns  : 8;

@import "base";
@import "formalize";

// To customize vertical ryhthm, see http://compass-style.org/reference/compass/typography/vertical_rhythm/
@include establish-baseline;

#masthead {
  background: $color2;
  @include padding-leader;
  @include padding-trailer;
  .container {
    margin-top: 0;
    margin-bottom: 0;
  }
}

body {
  color: #444;
  background: $color1;
  @include serif-family;
}

h2 {
  @include sans-family;
  @include adjust-font-size-to(24px, 1);
  @include trailer(1, 24px);
}

h2:first-child, h2.first {
  margin-top:0;
}

h2.location {
  @include serif-family;
  @include adjust-font-size-to(28px, 1);
  @include trailer(1, 28px);
  color: #4195db;
}

h3 {
  @include sans-family;
  @include adjust-font-size-to(21px, 1);
  @include leader(1, 21px);
  @include trailer(.5, 21px);
}

h4 {
  @include sans-family;
  @include adjust-font-size-to(17px, 1);
  @include leader(1, 17px);
  @include trailer(.5, 17px);
}

a {
  text-decoration: none;
}

a:visited {

}

a:hover {
  text-decoration: underline;
}

p, blockquote {
  @include trailer;
}

blockquote {
  background: #f0fafd;
  padding: .5em 1em;

  cite {
    @include leader(-1);
    display: block;
    text-align: right;
    font-style: italic;
  }
}

ul {
  list-style: disc inside;
  @include trailer;
}

em, i {
  font-style: italic;
}

strong {
  font-weight: bold;
}

sup {
  vertical-align: super;
  @include adjust-font-size-to(12px);
}

.clearfix {
  @include clearfix;
}

.hidden {
  display: none;
}

td {
  padding-right: .5em;
}

.comparison {
  color: #49a5f2;
}

.forecast-data {
  @include leader;
  @include padding-leader;
  @include border-radius(3px);
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  background: rgba(255, 255, 255, 0.6);

  .current {
    @include trailer;
    @include padding-trailer;
    border-bottom: 2px solid $color1;
    h3 {
    margin-top: 0;
    }
  }

  .forecast-day {
    @include clearfix;

    &:last-child {
      margin-bottom: 0;
    }
    .date {
      font-style: italic;
    }
    .forecast-icon {
      float: left;
      margin-right: .5em;
    }
  }
}

.unit {
  @include span-columns(8 omega);
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  label {
    @include border-radius(3px);
    padding: .75em $gutter-width;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    display: block;
    
    &:hover, &.selected {
      background: white;
    }
  }
  
  li {
    float: left;
    margin-right: .5em;
  }
  
  input {
    display: none;
  }
}

.activity {
  @include leader;
}

.share {
  @include trailer;
  padding: .75em $gutter-width;
  @include single-transition(all, 0.5s, ease-in-out, 0);
  @include border-radius(3px);
  clear: both;
  background: rgba(255, 255, 255, 0.4);
  &.ready {
    background: #fff9b2;
  }
}

@import "layout";