@font-face {
  font-family: "iconvault";
  src: url("iconvault_forecastfont.eot");
  src: url("iconvault_forecastfont.eot?#iefix") format("embedded-opentype"),
  url("iconvault_forecastfont.woff") format("woff"),
  url("iconvault_forecastfont.ttf") format("truetype"),
  url("iconvault_forecastfont.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}	




[class^="forecast-"],
[class*=" forecast-"] {
  font-family: 'iconvault';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 6em;

}

@media only screen and (min-width: 479px) and (max-width: 678px){
  [class^="forecast-"],
  [class*=" forecast-"] {
    font-family: 'iconvault';
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;}
}

/* -----BaseCloud----- */

.basecloud:before  {
	font-family: 'iconvault';
	font-size:6em;
	content: '\f105';
	
	color:rgb(204, 204, 204);
}



/* -----windyraincloud----- */

.windyraincloud:before  {
	font-family: 'iconvault';
	font-size:6em;
	content: '\f111';
	
	color:rgb(204, 204, 204);
}

/* -----Windysnowcloud----- */

.windysnowcloud:before  {
	font-family: 'iconvault';
	font-size:6em;
	content: '\f109';
	
	color:rgb(204, 204, 204);
}

/* -----Basethundercloud----- */

.basethundercloud:before  {
	font-family: 'iconvault';
	font-size:6em;
	content: '\f105';
	
	color:#000;

}


/* -----Thunder----- */

.forecast-thunder::before  {
	content: "\f114";
	
	color:rgb(255, 165, 0);
}

/* -----Sunny----- */

.forecast-sunny::after {
	content: "\f101";
	color:rgb(255, 165, 0);
	
}


/* -----Drizzle----- */

.forecast-drizzle::before  {
	content: "\f10a";
	color: #82b2e4;
	
}

/* -----Hail----- */

.forecast-hail::before {
	content: "\f10f";
	
	color:rgb(204, 204, 204);}

/* -----Showers----- */

.forecast-showers::before  {
	content: "\f104";
	
	color:#82b2e4;
}

/* -----Rainy----- */

.forecast-rainy::before {
	content: "\f107";
	
	color:#4681c3;
}

/* -----Snowy----- */

.forecast-snowy::before  {
	content: "\f10b";
	
	color:#acd3f3;
}

/* -----Frosty----- */

.forecast-frosty::before {
	content: "\f102";
	
	color:#85d8f7;
}

/* -----Windy----- */

.forecast-windy::before  {
	content: "\f115";
	
	color:rgb(204, 204, 204);
}

/* -----WindyRain----- */

.forecast-windyrain::before {
	content: "\f10e";
	
	color:#acd3f3;
}

/* -----WindySnow----- */

.forecast-windysnow::before {
	content: "\f103";
	
	color:#acd3f3;
}

/* -----Sleet----- */

.forecast-sleet::before  {
	content: "\f10c";
	
	color:#acd3f3;
}

/* -----Moon----- */

.forecast-moon::after {
	content: "\f10d";
	color:rgb(255, 165, 0);
	
}

/* -----Night----- */

.forecast-night::after {
	content: "\f100";
	
	color:rgb(255, 165, 0);
}


/* -----Sun----- */

.forecast-sun::after {
	content: "\f113";
	color:rgb(255, 165, 0);
	
}

/* -----Cloud----- */

.forecast-cloud::after {
	content: "\f106";
	color:rgb(204, 204, 204);
	
}


/* -----Sunrise----- */

.forecast-sunrise:before  {
	content: '\f112';
	color:rgb(255, 165, 0);
	
}

/* -----Sunset----- */

.forecast-sunset:before  {
	content: '\f110';
	color:#f96f23;
	
}

/* -----Mist----- */

.forecast-mist:before  {
	content: '\f108';
	color:rgb(204, 204, 204);
	
}

